@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

$main-color: #00B0FF;
$login-bg:                    #0091EA;
$login-bg-start:              #80DEEA;
$login-bg-end:                #0091EA;

input{
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  outline-width: 0;
  border: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


html {
  height: 100%;
  font-size: 16px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  min-height: 100%;
  font-family: 'Noto Sans SC', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-layout{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow-x:hidden;
}

// tool
.p-xs { padding: 10px; }
.p-md { padding: 15px; }
.p-lg { padding: 30px; }

.m-xs { margin: 10px !important;}
.m-md { margin: 15px !important; }
.m-lg { margin: 30px !important; }
.m-xlg { margin: 40px !important; }
.m-xxlg { margin: 50px !important; }

.mt-md { margin-top: 15px !important; }
.mt-lg { margin-top: 30px !important; }
.mt-xlg { margin-top: 40px !important; }
.mt-xxlg { margin-top: 50px !important; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.block{
  display: block;
}

.block-center{
  margin: 0 auto;
}

/// (Header)

header {
  background: rgb(255, 255, 255);

}

.navbar {
  margin-bottom: 0;
}
.navbar-collapse {
  &.collapse{
    display: block;
  }

  .nav.main-nav {
    background: rgb(255, 255, 255);
    li {
      a {
        color: #80DEEA;
        font-size: 1.2rem;
        font-weight: 400;

        &:hover,
        &:focus {
          background-color: transparent;
        }

        &.active,
        &:focus {
          cursor: pointer;
          color: $main-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  header{
    position: relative;
    z-index: 99999;

    .container{
      padding: 0;
    }
  }
  nav.main-nav-container{
    border: none;

    .navbar-toggle{
      margin-top: 26px;
      margin-right: 26px;

      .icon-bar{
        background-color: $main-color;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;

        &:nth-child(2) {
          display: block;
          transform: rotate(45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
          transition: all 500ms ease-in-out;
        }

        &:nth-child(4) {
          display: block;
          transform: rotate(135deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
          transition: all 500ms ease-in-out;
        }
      }

      &.collapsed{
        margin-top: 8px;
        margin-right: 15px;

        .icon-bar{
          position: relative;
          display: block;
          margin-top: 4px;
          transform: rotate(0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
        }
      }
    }

    .navbar-collapse{
      width: 100%;
      position: absolute;
      overflow: visible;
      &.collapse{
        display: none;
      }

      &.collapse.open{
        display: block;
      }

      .main-nav{
        margin: 0;
        overflow: hidden;
        max-height: 5000px;
        position: absolute;
        top: -1px;
        left: 0;
        z-index: 99999;
        width: 100%;

        li {
          a {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}


// Body (Main)
.img-container{
  margin: 0 -15px;

  &.title{
    img{
      width: 76%;
    }
  }
}

main{
  //background: #000033;
  color: #fff;

  hr{
    width: 95%;
  }

  h3{
    font-size: 1.3rem;
  }
  h4{
    font-size: 1.2rem;
    span{
      color: #b7b7b7;
    }
  }

  .before-game{
    h4{
      margin: 2rem auto;
    }
  }
}

.index-content-wrapper{
  padding: 15px 0;
}

.big-coin{
  padding: 0px;
  margin: 0 -5px;
}

.info-box-container{
  margin: 28px 0 0;

  .info-box{
    padding: 15px 20px;
    min-height: 140px;
    text-align: center;
    background: #fff;
    border: 5px solid #940000;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.2;
    color: #888888;
    position: relative;

    &.arrow:after{
      content: "";
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      margin-left: -125px;
      border-left: 125px solid transparent;
      border-right: 125px solid transparent;
      border-top: 30px solid #940000;
      height: 0;
      width: 250px;
    }

    &.lg{
      color: #000;
      font-size: 0.95rem;
      min-height: initial;
      height: auto;

      p{
        margin: 0;
      }
    }

    h3{
      margin: 0;
      font-size: 1.3rem;
      color: #940000;
      b{
        font-weight: 900;
        margin-right: 10px;
      }
    }

    p{
      margin: 28px 0 0;
    }
  }

  .rule-box{
    padding: 0px 10px 5px;
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 0.7rem;

    h3{
      margin: 15px 0;
      text-align: center;
    }

    p{
      b{
        margin-top: 20px;
        margin-right: 10px;
      }
      span{
        font-weight: 300;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}



@media (min-width: 768px) {
  .img-container{
    margin: 0 0;

    &.title{
      img{
        width: 50%;
      }
    }
  }

  main{
    width: 100%;
    margin: 0 auto;

    h3{
      font-size: 2.5rem;
    }
    h4{
      font-size: 2rem;
    }

    .before-game{
      h4{
        margin: 2rem auto;
      }
    }
  }

  .index-content-wrapper{
    padding: 15px 35px;
  }

  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .big-coin{
    padding: 10px;
  }

  .info-box-container {
    margin: 17px 5px;

    .info-box {
      font-size: 1.5rem;
      line-height: 1.3;
      min-height: 350px;
      margin-bottom: 80px;
      border: 10px solid #940000;

      &.arrow:after{
        top: calc(100% + 10px);
        margin-left: -226px;
        border-left: 226px solid transparent;
        border-right: 226px solid transparent;
        border-top: 60px solid #940000;
        width: 452px;
      }

      &.lg{
        padding: 30px 25px;
        font-size: 1.8rem;
        font-weight: 500;
      }

      h3 {
        margin: 0;
        font-size: 2.875rem;
        color: #940000;
        b {
          display: block;
          line-height: 1.3;
          font-weight: 800;
        }
      }
    }
  }
  .info-box-container {
    .rule-box {
      padding: 0px 20px 15px;
      font-size: 1.2rem;

      h3 {
        font-size: 2rem;
        margin: 15px 0;
        text-align: center;
      }

      p{
        margin: 0 0 30px;
      }
    }
  }
}


@media (min-width: 1024px) {
  main{
    width: 1024px;
    margin: 0 auto;
  }

  .info-box-container {
    .info-box {
      height: 290px;
      font-size: 1.35rem;
    }
  }
}

button.submit{
  background: #c3a04d;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  display: inline-block;
}

.query-form{
  text-align: center;
  color: #2e2e2e;

  input{
    width: 50%;
    max-width: 350px;
    text-align: center;
    font-size: 1rem;
    padding: 8px 10px;
    display: block;
    border-radius: 20px;
    margin: 0 auto;
  }

  .button.submit{
    display: block;
  }
}



@media (min-width: 768px) {
  .query-form{

    input{
      font-size: 1.2rem;
    }

    button.submit{
      padding: 10px 25px;
      font-size: 1.2rem;
    }
  }
}




// Form
.form-container {
  width: 90%;
  padding: 45px 15px 15px;
  text-align: center;
  color: #424242;

  .todo-input {
    display: block;
    margin: 5px auto;
    padding: 10px;
    font-size: 1rem;
    width:100%;
    border: 2px solid $main-color;
    background: rgba(255, 255, 255, 0.8);

  }

  button.submit{
    padding: 10px 20px;
    cursor:pointer;
    color: #1565C0;
    display: block;
    border: 2px solid $main-color;
    background: #ffffff;
    margin: 25px auto 0;
    width: 200px;


    &:hover{
      border: 2px solid $main-color;
      background-color: #f0f0f0;
      color: #424242;
    }
  }


}

@media (min-width: 768px) {
  .form-container {
      width:70%;
    }
    button.submit{
      margin: 0;
      width: 50px;
      display: inline-block;
    }
}

.filter-tabs-wrapper{
  padding: 20px 0 10px;
  text-align: center;
  margin: 20px 0 10px 0;
  //border-bottom: 1px solid #ffffff;
  .filter-tabs{
    display: inline-block;
    margin: 0 auto;
    .filter-tab {
      font-size: 0.7rem;
      margin: 3px 10px 0 0;
      padding: 3px 10px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 20px;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;

      &:last-child{
        margin-right: 0;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }

      &.active {
        background-color: #2962FF;
        color: #ffffff;
      }
    }
  }
}

.todoList{
  padding: 10px;
  margin: 0;
  max-height: 35vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  user-select: none;

  .todo{
    color: #424242;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);

    &:hover{
      background-color: rgba(255, 255, 255, 0.9);
    }

    .todo-content{
      .todo-header{
        padding: 5px;
        margin-bottom: 10px;

        .action-btn{
          font-size: 0.8rem;
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
          cursor: pointer;

          &.delete{
            color: #E91E63;
          }

          &:active,
          &:hover:not(.delete){
            color: $main-color;
          }

          & > span {
            padding: 5px;
          }

          & > .green {
            background-color: #00E676;
            color: #ffffff;
          }
          //&.grey {
          //  background-color: #00E676;
          //  color: #ffffff;
          //}
        }
      }
      .todo-text{
        padding: 5px;
        width: 100%;
      }
      textarea.todo-text{
        padding: 5px;
        width: 100%;
        border: 1px solid $main-color;
      }
    }
  }
}

@media (min-width: 768px) {
  .filter-tabs-wrapper {
    padding: 10px;
    .filter-tabs {
      .filter-tab {
        font-size: 1.2rem;
        margin: 3px 10px 0 0;
        padding: 6px 20px;
      }
    }
  }

  .todoList{
    max-height: 45vh;

    todo{
      padding: 10px;

    }
  }

}

.crop-wrapper {
  background-color: #afe6e8;
  position:relative;
  width: 600px;
  height: 350px;
  overflow:hidden;
  margin: 30px auto 15px;

  .wall{
    z-index:990;
    color: #00B0FF;
    background-color: rgba(0,176,255,.6);
    position:absolute;

    &.top{
      width:100%;
      height:50%;
      margin-top:-150px;
    }

    &.bottom{
      width:100%;
      height:50%;
      margin-bottom:-152px;
      bottom:0;
    }

    &.right{
      width:50%;
      height:302px;
      top:50%;
      margin-top:-150px;
      margin-left:-150px;
    }

    &.left{
      width:50%;
      height:302px;
      top:50%;
      right:0;
      margin-top:-150px;
      margin-right:-152px;
    }
  }

  .crop-view {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 999;
    width: 300px;
    height: 300px;
    //border: solid 2px #1565C0;
    border: solid 2px #ffffff;
    box-sizing: content-box;
    pointer-events: none;
    //background-color: #00B7FF;

    &:before{
      top: 0;
      margin-left: -2px;
      margin-top: -40px;
    }

    &:after{
      bottom: 0;
      margin-left: -2px;
      margin-bottom: -40px;
    }

    .crop-view-inner{
      &:before{
        left: 0;
        margin-left: -40px;
        margin-top: -2px;
      }

      &:after{
        right: 0;
        margin-right: -40px;
        margin-top: -2px;
      }
    }
  }

  .resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;

    .pic-control{
      position:absolute;
      cursor:move;
      //background-color:rgba(5,255,5,0);
      z-index:1000;
      width:100%;
      height:100%;
    }

    img {
      display: block;
      height: 500px;
      width: auto;
    }
  }
}

.server-response{

  h3{
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
  }

  .res-container{

    margin: 20px auto;

    .dsc{
      text-align: center;
    }
  }

}

.upload-setting{
  padding: 10px;
  color: #424242;
  font-size: 1rem;
  height: 70px;
  text-align: center;

  label{
    margin-right: 10px;
  }

}

.upload-controls{
  text-align: center;
  padding-bottom: 20px;
  .tab {
    border: none;
    color: #337ab7;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 3px 10px 0 0;
    padding: 3px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &:last-child{
      margin-right: 0;
    }



    &.preview {
      background-color: #2962FF;
      color: #ffffff;
    }

    &.submit{
      background-color: #3F51B5;
      color: #ffffff;
    }

    &:hover {
      color: #337ab7;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}